* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.7rem;
}


body{
    display: flex;
    flex-wrap: wrap;
}

/* general */
img {
    max-width: 100%;
    
}

a {
    text-decoration: none;
    color: rgba(109,109,109,255);
    
}

/* -----OVERLAY----- */
.overlay {
    background-color: rgba(8,11,18,0.8);
    position: fixed;
    inset: 0 0 auto 0;
    height: 70px;
    z-index: 10;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.upgrade a {
    color: white;
    border: 1.5px solid white;
    padding: 0.6rem 2.3rem;
    margin-right: 1.7rem;
    border-radius: 25px;
}

.upgrade a:hover {
    font-size: 1.2rem;
    padding: 0.8rem 2.5rem;
    margin-right: 0.8rem;
}


/* -----SIDEBAR----- */
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(0,0,0,255);
    flex: 0 0 50px;
    height: calc(100vh/ - 70px);
    position: relative;
    z-index: 20;
    padding: 1rem;
}

.container-sidebar {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.sidebar span{
    visibility: hidden;
}

.fa-plus-square {
    visibility: hidden;
}

.sidebar i:not(.fa-plus-square, .fa-circle-down) {
    font-size: 1.5rem;
    vertical-align: sub;
}

.fa-lines-leaning {
    transform: scaleX(-1);
}

.fa-house, .fa-magnifying-glass, .fa-lines-leaning {
    margin-bottom: 0.5rem;
}

.logo {
    visibility: hidden;
}

.sidebar .logo-small {
    width: 2rem;
    position: absolute;
    visibility: visible;
}

.sidebar .john-doe {
    color: white;
}

.sidebar a:hover{
    color: white;
}

@media screen and (min-width: 552px) {
   .sidebar {
        flex-basis: 180px;
    }

    .logo {
        visibility: visible;
        width: 10rem;
        margin-bottom: 1.5rem;
    }
    
    .sidebar .logo-small {
        position: absolute;
        visibility: hidden;
    }

    .fa-house, .fa-magnifying-glass, .fa-lines-leaning {
        margin-bottom: 0.5rem;
    }

    .sidebar span{
        visibility: visible;
    }
    
    .sidebar .span-white {
        color: white;
    }

    .fa-plus-square {
        visibility: visible;
    }
    
    
    .sidebar .fa-house, .fa-plus-square, .fa-circle-user {
        /* color: rgba(163,163,163,255); */
    }
    
    .installa-app {
        border-bottom: 1px solid rgba(109,109,109,255);
        padding: 0.5rem 0;
        margin-bottom: 1rem;
    }
    
    .sidebar i {
        margin-right: 0.4rem;
    }
    
    .sidebar i:not(.fa-plus-square, .fa-circle-down) {
        font-size: 1.5rem;
        vertical-align: sub;
        
    }
    
    .fa-plus-square {
        font-size: 3.5rem;
        vertical-align: middle;
    }
    
    .btn-playlist {
        margin-bottom: 0.5rem;
    }
    
} 

/* -----CONTENTS----- */

/* nav */
.contents {
    background-color: rgba(20,25,34,255);
    padding-top: 70px;
    flex: 1 0 0;
    height: calc(100vh - 70px);
    overflow-y: auto;
    color: white;
  
}
.nav-flex {
  font-weight: bold;
  color: rgba(123,125,130,255);
  padding: 0 1rem;
}

.nav-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    --n-colums: 6;
    gap: 2rem;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.nav-container a:hover{
    color: white;
    cursor: pointer;
}


.nav-container a {
    flex-basis: calc((100% - (var(--n-colums) -1) * var(--gap)) / var(--n-colums));
    position: relative;
    text-decoration: none;
}

.btn-nav:after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    background-color: rgba(30,215,96,255);
    left: 0rem;
    bottom: -10px;
}

.btn-nav:hover:after {
    width: 100%;
}

/* main */
.category-title {
    margin: 0.5rem 1.2rem;
    margin-top: 2rem;
}

.sub-title {
    padding: 0 1.2rem;
    margin-bottom: 1.5rem;
}

/* primo contenitore carte */
.main-flex {
    padding: 1rem;
    display: flex;
    --n-colums: 6;
    --gap: 10px;
    flex-wrap: wrap;
    gap: 1rem;
}

.container-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: calc((100% - (var(--n-colums) -1) * var(--gap)) / var(--n-colums));
}

.music-card {
    width: 12rem;
    position: relative;
    z-index: 0;
}

.music-card i {
    position: absolute;
    top: 33%;
    left: 33%;
    font-size: 4rem;
    color: rgba(30,215,96,255);
    z-index: -1;
}

.music-card img:hover {
    opacity: 0.4;
}

.music-card:hover .fa-circle-play {
    z-index: 0;
}

.name-card {
  text-align: center;
}

.name-card h3 {
    margin-bottom: .7rem;
}

.contents p {
    color: rgba(118,121,125,255);
}

/* MEDIA QUERY CARDS */
@media only screen and (max-width: 1081px) {
    .main-flex {
        --n-colums: 5;
    }
}

@media only screen and (max-width: 936px) {
    .main-flex {
        --n-colums: 4;
    }
}

@media only screen and (max-width: 790px) {
    .main-flex {
        --n-colums: 3;
    }
}

@media only screen and (max-width: 644px) {
    .main-flex {
        --n-colums: 2;
    }
}

@media only screen and (max-width: 413px) {
    .main-flex {
        --n-colums: 1;
        gap: 3rem;
    }

    h1 {
        text-align: center;
       }

    .sub-title {
        text-align: center;
    }   
}

/* MEDIA QUERY NAV */
@media only screen and (max-width: 773px) {
    .nav-container {
        justify-content: flex-start;
    }
}

@media only screen and (max-width: 595px) {
    .nav-container {
        justify-content: center;
    }
}

@media only screen and (max-width: 551px) {
    .nav-container {
        justify-content: flex-start;
    }
}

@media only screen and (max-width: 505px) {
    .nav-container {
        justify-content: center;
    }
}

/* media query mobile */

@media only screen and (max-width: 413px) {
    .nav-container {
        flex-direction: column;
        align-items: center;
    }
}


/* -----CONTROLS----- */
.controls {
    background-color: rgba(40,40,40,255);
    flex: 0 0 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 1rem;
}

.controls i {
    font-size: 1.2rem;
}


/* footer left */
.footer-left {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    flex-basis: 20%;
}

.footer-left .brano:hover, .footer-left  i:hover {
    color: white;
}

.sinister {
    width: 35px;
    aspect-ratio: 1/1;
   
}

.nome-brano {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
}

.brano {
    color: rgba(129,129,129,255);
    font-size: 0.8rem;
}

.footer-left i {
    color: rgba(129,129,129,255);
}

/* footer center */
.footer-center {
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.flex-footer-center {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.flex-footer-center i {
    font-size: 1.3rem;
}

.flex-footer-center .fa-circle-play {
    font-size: 2rem;
}

.flex-footer-center .fa-circle-play:hover {
    font-size: 2.5rem;
    cursor: pointer;
}



.forward-left {
    transform: scaleX(-1);
}

/* footer right */
.footer-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-basis: 20%;
    gap: 1rem;
    
}

.i-right {
    display: flex;
    gap: 1rem;
}

/* prima rangebar */
.rangebar{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.rangebar1 {
    width: 20rem;
    height: 0.3rem;
    background-color: rgba(90,90,90,255);
    border-radius: 20px;
    cursor: pointer;
}

.greenbar1 {
    background-color: white;
    width: 8rem;
    height: 0.3rem;
    border-radius: 20px;
}

.dot-white1 {
    width: 1rem;
    height: 1rem;
    background-color: white;
    margin-top: -7.7px;
    margin-left: 7.5rem;
    border-radius: 50px;
    opacity: 0;
}


.greenbar1:hover {
    background-color: greenyellow;
    cursor: pointer;
}

.greenbar1:hover ~ .dot-white1 {
    opacity: 1;
}

.dot-white1:hover {
    opacity: 1;
}
.dot-white1:hover ~ .greenbar1 {
    background-color: greenyellow;
}

/* seconda rangebar */

.rangebar2 {
    width: 6rem;
    height: 0.3rem;
    background-color: rgba(90,90,90,255);
    border-radius: 20px;
    cursor: pointer;
}

.greenbar2 {
    background-color: white;
    width: 3rem;
    height: 0.3rem;
    border-radius: 20px;
}

.dot-white2 {
    width: 1rem;
    height: 1rem;
    background-color: white;
    margin-top: -7.7px;
    margin-left: 2.5rem;
    border-radius: 50px;
    opacity: 0;
}

.greenbar2:hover {
    background-color: greenyellow;
    cursor: pointer;
}

.greenbar2:hover ~ .dot-white2 {
    opacity: 1;
}

.dot-white2:hover {
    opacity: 1;
}
.dot-white2:hover ~ .greenbar2 {
    background-color: greenyellow;
}




